<div class="py-8 min-h-screen">
  <% if notice.present? %>
    <div class="mb-6">
      <p class="py-3 px-4 text-green-800 bg-green-100 border border-green-200 rounded-lg" id="notice">
        <%= notice %>
      </p>
    </div>
  <% end %>

  <% content_for :title, "Posts" %>

  <h1 class="text-4xl font-bold text-gray-800 mb-12 text-center">Posts</h1>

  <!-- Post Creation Form -->
  <div class="mb-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto p-8 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold text-blue-600 mb-6">Create a New Post</h2>
      <%= render "posts/form", post: Post.new %>
    </div>
  </div>

  <%= turbo_stream_from @user %>

  <!-- List of Existing Posts -->
  <div id="posts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-12 px-4 sm:px-6 lg:px-8">
    <% @posts.each do |post| %>
      <div class="flex">
        <%= render partial: "posts/post", locals: { post: post } %>
      </div>
    <% end %>
  </div>
</div>
